* {
  box-sizing: border-box;
}
#page {
  display: grid;
  width: 100%;
  height: 600px;
   
  grid-template-areas:
    "head head head"
    "nav main main"
    " foot foot aside1";
  grid-template-rows: 75px 6fr 1fr;
  grid-template-columns: 100px 1fr 1fr;
}
  #page > * {
    padding:10px;
  }

  #page > header {
    grid-area: head;
    background-color: #8ca0ff;
    text-align: center;
  }
  
  #page > nav {
    grid-area: nav;
    background-color: #ffa08c;
  }
  
  #page > main {
    grid-area: main;
    background-color: #ffff64;
  }
  
  #page > footer {
    grid-area: foot;
    background-color:cyan;
  }
  #page > aside {
    grid-area: aside1;
    background-color: #8cffa0;
  }